body{
  background-color: gray;
  font-family: Arial;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 320px;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(218, 218, 218);
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #3f4745;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #042e55;
  }